.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* --------------------------- Loader ------------------------------ */

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner {
  content: 'Loading';
  box-sizing: border-box;
  position: absolute;
  /* top: 50%; */
  left: 46%;
  width: 120px;
  height: 120px;
  /* margin-top: 700px;
  margin-left: -65px; */
  border-radius: 50%;
  border: 10px solid #ccc;
  border-top-color: #07d;
  animation: spinner .6s linear infinite;
  /* background-color: powderblue; */
}